
/* ESTILOS DA PÁGINA */
html, body {
    height: 100%;
}

body {
    position: relative;
    margin: 0 auto;
}

header {
    padding: 5px;
    height: 64px;
    overflow: hidden;
    background-image: linear-gradient(to right, black, rgb(53, 52, 52));
}

#exampleButton, #chartButton{
    float: right;
    margin: 10px;
}

.sidebar, .main {
    transition: all 0.3s ease-out;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 64px;
    bottom: 0;
    padding: 15px;
}

.sidebar {
    width: 30%;
    left: 0;
    border-right: 5px solid gray; 
    background-image: linear-gradient(rgb(140, 140, 240), #d1ecf1);
    
}

.main {
    position: absolute;
    left: 30%;
    right: 0;
    padding: 20px;
} 

/* Estilos do form para iniciar o método */
.leitura{
    border: 1px solid lightgray; 
    border-radius: 10px;
    border-top: 0px;
    padding: 10px;
    background: white;
    color: black;
    box-shadow: 3px 4px 9px 0px lightgray;
}

button{
    margin-top: 10px;
}

/* Estilo do ícone para informar sobre o refinamento */
.infoIcon{
    font-size: 20px;
}

/* Estilos para os cards de apresentação dos membros do grupo */
.card{
    box-shadow: 2px 3px 4px grey;
}

/* Ocultando as páginas dos outros métodos */
#divUniforme, #divDico, #divAurea, #divFibonacci, #divBissecao, #divNewton{
    display: none;
}

/* Alertas  */
#alertFormUniforme, #alertFormDico, #alertFormAurea, #alertFormFibo, #alertFormBisse, #alertFormNewton{
    display: none;
}
